[Desktop Entry]
Name=KPartTorrentInfo
MimeType=application/x-bittorrent;
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kparttorrentinfo
Type=Service
